*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: auto;
    padding: 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: aqua;
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.menu a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
    color: blue;
    transform: scale(1.05);
    transition-duration: 0.2s;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    height: auto;
}
.card{
    /* border: 1px solid black; */
    border-radius: 10px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.cardcontain {
    padding-left: 15px;
}
.card img{
    width: 80%;
    height: auto;
    object-fit: contain;
    margin: 20px 0px 0px 30px;
}
.quantite{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.quantite input{
    width: 30px;
    height: 30px;
    font-weight: bold;
}
.quantite input:hover{
    background-color: aqua;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer ;
}
.btnqte{
    padding: 10px 20px;
    background-color: aqua;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer ;
}
.btnqte:hover{
    background-color: blue;
    transform: scale(1.06);
    transition: ease-out 0.2s;
}
.carddown{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}