/*reset*/
*{
    box-sizing: border-box;
}

/*body en flex*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/*header*/
header{
   background: linear-gradient(135deg, #4CAF50, #2e7d32);
   color: white;
   text-align: center;
   padding: 30px 20px;
} /*faire apparaitre le header sur toute les pages*/
header h1 {
    margin: 0;
    font-size: 2rem;
}
header p {
    margin-top: 10px;
    font-size: 1rem;
    opacity: 0.9;
}

/*main*/
main{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/*section*/
section{
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    max-width:max-content;
    margin:  auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}
/*titre*/
section h2{ 
    margin-top: 0;
    color: #333;
}
/*liste*/
ul{
    list-style: none;
    padding: 0;
}
ul li{
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}
/*liens de navigation*/
nav a{
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s; 
}
nav a:hover{
    background-color: #2e7d32;
}

/*footer*/
footer {
    background-color: #333;
    color: red;
    padding: 15px;
    text-align: center;
}
@media (max-width: 768px) {
    body{

        color: yellow;
    }
}

@media (max-width: 480px) {
    body{
        color: blue;
    }
    footer{
        color: green;
    }
}