*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    max-width: 100%;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px 30px;
    background: #333;
    color: white;
    position: relative;
    /* height: 100px; */
}
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}
nav a{
    color: white;
    transition: 0.3s;
    text-decoration: none;
    padding: 10px;
}
nav a:hover{
    color: #333;
    border-radius: 10%; 
    color: orange;
    transition: 0.3s;
}
main{
    flex: 1;
    padding: 20px;
}
.card{
    background: white;
    padding: 20px;
    margin: 15px auto;
    border-radius: 10px;
    max-width: 700px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}
h2{
    margin-bottom: 15px;
}
ul{
    list-style: none;
}
main ul li{
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}
.btn{
    display: inline-block;
    background: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 10px;
} 
footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
} 
@media (max-width: 768px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }
    header{
        display: block;
        padding: 15px;

    }
    header h1{
        margin-bottom: 15px;
    }
    nav ul {
        flex-direction: column;
        display: none;
        text-align: center;
        gap: 5px;
    }
    nav ul.active {
        display: flex;
    }
    .menu-toggle {
        display: block; 
    } 
    nav ul li{
        border-bottom: 1px solid orange;
        display: flex;
        justify-content: space-around;
    }
    nav ul li:hover{
        border-bottom: 3px solid #eee;
    }
}